# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/

# Logs
*.log

# Big geo rasters / HDF
*.tif
*.tiff
*.vrt
*.hdf
*.nc

# Generated outputs
output_csvs/
summaries/
tmp/
temp/

